.card {
    width: 100%;
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

.content{
    display: grid;
    grid-template-columns: 90% 1fr;
    gap: 1rem;
    align-items: flex-start;
    padding: 1rem;
}


.content > div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
}

.checked {
    background: var(--purple-dark);
    border: 2px solid var(--purple-dark);
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 0.1rem;
}

.checked:hover {
    background: var(--purple);
    border: 2px solid var(--purple);
    cursor: pointer;
}

.unchecked {
    background: transparent;
    border: 2px solid var(--blue);
    border-radius: 50%;
    padding: 0.488rem;
}

.unchecked:hover {
    background: rgba(30,111,159, 0.2);
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.button button {
    background: transparent;
    width: 2rem;
    border: 0;
    color: var(--gray-300);
    cursor: pointer;
    line-height: 0;
    border-radius: 2px;
    padding: 0.2rem 0;
}

.button button:hover {
    color: var(--danger-500);
    background: var(--gray-400);
}

.taskIncomplete {
    color: var(--gray-100);
    word-break: break-all;
}

.taskCompleted {
    color: var(--gray-300);
    text-decoration: line-through;
    word-break: break-all;
}

